In [2]:
print("hello")

hello

In [3]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

/home/mj294/anaconda3/lib/python3.5/site-packages/boto/pyami/config.py:69: UserWarning: Unable to load AWS_CREDENTIAL_FILE (/home/mj294/.ec2/credential-file)
  warnings.warn('Unable to load AWS_CREDENTIAL_FILE (%s)' % full_path)

In [8]:
test_query = """
SELECT COUNT(*)
FROM campaigns"""

In [9]:
red_engine = create_engine('redshift+psycopg2://looker:kaJE7ZwetphgLAT7HiKG@warehouse1.db.ibotta.com:5439/ibotta')

In [10]:
test = pd.read_sql_query(test_query,red_engine)

In [11]:
test

   count
0   6955

In [16]:
type(test)

pandas.core.frame.DataFrame